header {
  background: #161415 url(./header.jpg) no-repeat top center;
  background-size: cover !important;
	-webkit-background-size: cover !important;
}


  div.scrollmenu {
  background-color: rgb(255, 255, 255);
  width:100%;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: rgb(165, 91, 149);
}

.portfolio-modal {
padding-left: 15px;
padding-right:15px;
padding-top: 25px;
position: absolute;
bottom: 0;
height: 100%;
display:flex;
flex-direction: column;
/*justify-content: space-between;*/
align-items: center;
}

.buttonlocation {
  padding-left: 25px;
  position: absolute;
  bottom: 0;
  /*display: flex;
  align-items: right;*/
}

.button {
  color: white;
  background-color: rgb(252, 55, 170);
  border: 10px;
  border-radius: 35px;
}

.portfolio-images{
height:300px;
}

.portfolio-images1{
  padding-left: 15px;
  padding-right: 15px;
}